@model IEnumerable<VivaCumuru.Models.SubCategoria>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">SubCategorias</h1>
<table class="table">
    <thead>
        <tr style="background:#EF8B1E;">
            <th>
                @Html.DisplayNameFor(model => model.SubCategoriaNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoriaNome)
                </td>
                <td>
                    <a asp-action="List" asp-controller="Loja" asp-route-subcategoria="@item.SubCategoriaNome">Detalhes</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">Retornar</a>
</div>
