@model IEnumerable<VivaCumuru.Models.TelefoneUteis>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center" style="background:#943F34;">Agenda Telefones Úteis</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TelNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelNum)
            </th>
        </tr>
        <tr>
        </tr>
    </thead>
    <thead>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.TelNome)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.TelNum)
                    </td>
                </tr>
        }
    </thead>
</table>
